{%extends 'base.html'%}
{%block content%}
<form method="POST" accept="{%url 'login'%}">
  {{ form.non_field_errors }}
  <div class="mb-3">
    {%csrf_token%}
    <label for="exampleInputEmail1" class="form-label">Login</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    {form.login.errors}
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
    {form.login.password}
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
    <a href="{%url 'sign_up' %}" class="link-primary">Нет аккаунта? Зарегестрируйтесь</a>
</form>
{%endblock%}