<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <!--ICONS-->
    <script src="https://kit.fontawesome.com/0960a95ef5.js" crossorigin="anonymous"></script>
</head>
<style>
    #word-card {}

    .card-wraper {
        min-width: 600px;
        max-width: 900px;
        position: relative;
        perspective: 1000px;
    }

    #front,
    #back {
        width: 100%;
        position: absolute;
        backface-visibility: hidden;
        /* transition: 1s; */
    }

    .card {}

    .card-body {
        min-height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #back {
        transform: rotateY(180deg);
    }

    #word {
        padding: 10px 0;
    }

    #answers {
        display: flex;
        flex-wrap: wrap;
        gap: 6px;
        justify-content: center;
    }

    #next-card {
        width: 100px;
    }
</style>

<body>
    <div class="container ">
        <div id="word-card" class="d-flex justify-content-center">
            <div class="card-wraper">
                <div id="front">
                    <div class="card text-center">
                        <div class="card-header">
                            #0
                        </div>
                        <div class="card-body">
                            <h5 class="card-title" id="word">Front</h5>
                            <!-- <p class="card-text" id="sentence">With supporting text below as a natural lead-in to
                                additional content.
                                With supporting text below as a natural lead-in to additional content.
                                With supporting text below as a natural lead-in to additional content.
                                With supporting text below as a natural lead-in to additional content.
                            </p> -->
                            <div id="answers">
                                <button type="button" class="btn btn-outline-primary answer-option">Word 1</button>
                                <button type="button" class="btn btn-outline-primary answer-option">Word 2</button>
                                <button type="button" class="btn btn-outline-primary answer-option">Word 3</button>
                                <button type="button" class="btn btn-outline-primary answer-option">Word 1</button>
                                <button type="button" class="btn btn-outline-primary answer-option">Word 2</button>
                                <button type="button" class="btn btn-outline-primary answer-option">Word 3</button>
                                <button type="button" class="btn btn-outline-primary answer-option">Word 2</button>
                                <button type="button" class="btn btn-outline-primary answer-option">Word 3</button>
                                <button type="button" class="btn btn-outline-primary answer-option">Word 1</button>
                                <button type="button" class="btn btn-outline-primary answer-option">Word 2</button>
                                <button type="button" class="btn btn-outline-primary answer-option">Word 3</button>
                            </div>
                        </div>
                        <div class="card-footer text-muted">
                            <button type="button" class="btn btn-outline-secondary">Не показывать</button>
                        </div>
                    </div>
                </div>
                <div id="back">
                    <div class="card text-center">
                        <div class="card-header">
                            <b style="color:#148014" class="correct-answer">Верно</b>
                            <b style="color: #c62424" class="incorrect-answer">Неверно</b>
                        </div>
                        <div class="card-body">
                            <h5 id="word-translate">Front - Лицевая сторона</h5>
                            <p id="wrong-answer-translate" class="incorrect-answer"><b>Wrong</b> - Неправильный ответ
                            </p>
                            <a id="next-card" href="#" class="btn btn-primary" id="next-word"><i class="fas fa-forward"
                                    aria-hidden="true"></i></a>
                        </div>
                        <div class="card-footer text-muted">
                            <button type="button" class="btn btn-outline-secondary">Не показывать</button>
                            <button type="button" class="btn btn-outline-success correct-answer">Изучил</button>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
        <div id="errorToast" class="toast align-items-center text-white bg-danger border-0" role="alert"
            aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body">
                    Hello, world! This is a toast message.
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                    aria-label="Close"></button>
            </div>
        </div>
    </div>
    <script>
        var myToastEl = document.getElementById('errorToast')
        var myToast = bootstrap.Toast.getOrCreateInstance(myToastEl)
        function showError(text) {
            myToastEl.querySelector('.toast-body').innerText = text
            myToast.show()
        }
    </script>
    <script>

        class CardsApi {

            async loadCard() {
                var url = 'http://127.0.0.1:8000/trainer/get-card/?direction=en-ru'
                try {
                    const response = await fetch(url);
                    if (!response.ok) {
                        throw new Error(`Response status: ${response.status}`);
                    }

                    const json = await response.json();
                    // console.log(json);
                    return new Card(json)
                } catch (error) {
                    console.error(error.message);
                    showError('Card not loaded: ' + error.message)
                    return undefined
                }

            }
        }

        class Card {
            constructor(cardData) {
                this.target = cardData['target']
                this.answersList = cardData['answers']
                this.lang_direction = cardData['lang_direction']['direction']
                this._answers = {}

                this._init()
            }

            _init() {
                this.answersList.forEach(word => {
                    this._answers[word['id']] = word
                })
            }

            getWordById(wordId) {
                return this._answers[wordId]
            }

            isAnwerCorrect(wordId) {
                return wordId == this.target['id']
            }
        }


        class CardView {
            static FLIP_TRANSITION = '1s'

            constructor() {
                this.elem = document.getElementById('word-card')
                this.cardHeader = this.elem.querySelector('.card-header')
                this.cardWrapElem = this.elem.querySelector('.card-wraper')
                this.back = document.getElementById('back')
                this.front = document.getElementById('front')
                this.nextCardBtn = document.getElementById('next-card')
                this.sentenceBlock = document.getElementById('sentence')
                this.wrongAnswerBlock = document.getElementById('wrong-answer-translate')
                this.correctAnswerElems = this.elem.querySelectorAll('.correct-answer')
                this.incorrectAnswerElems = this.elem.querySelectorAll('.incorrect-answer')
                this.wordElem = document.getElementById('word')
                this.wordTranslateElem = document.getElementById('word-translate')
                this.asnwerBlock = document.getElementById('answers')

                this._is_front = true;

                this._init()

            }

            get frontHeight() {
                // высота блока фронтальной части карточки
                return this.front.offsetHeight
            }
            get backHeight() {
                // высота блока тыльной части карточки 
                return this.back.offsetHeight
            }

            set flipTransition(time) {
                this.back.style.transition = time
                this.front.style.transition = time
            }


            _init() {
                // Код инициализации

                // Обьявление событий

                // евент при клике на кнопку - следующая карточка
                this.nextCardBtn.addEventListener('click', () => {
                    cardTrainer.nextCard()
                })
                // установка враперу карты нужной высоты
                this.cardWrapElem.style.height = this.frontHeight + 'px'
                // установка времени врадения карточки
                this.flipTransition = CardView.FLIP_TRANSITION
            }

            flip() {
                if (this._is_front) {
                    this.showBack()
                } else {
                    this.showFront()
                }
            }

            showNextCard(card) {
                // отривосать следующую карту
                $(this.cardWrapElem).slideUp(() => {
                    this.drawCard(card)
                    this.showFront(true)
                }).slideDown()
            }

            showBack(quick = true) {
                this._showSide('back', quick)
            }
            showFront(quick = true) {
                this._showSide('front', quick)
            }

            _showSide(side, quick) {
                if (quick) {
                    this.flipTransition = CardView.FLIP_TRANSITION
                } else {
                    this.flipTransition = '0s'
                }
                if (side == 'front') {
                    $(this.front).css("transform", "rotateY(0deg)");
                    $(this.back).css("transform", "rotateY(180deg)");
                    // this.cardWrapElem.style.height = this.frontHeight + 'px'
                    // console.log(this.frontHeight + 'px')
                    this._is_front = true;
                } else if (side == 'back') {
                    $(this.front).css("transform", "rotateY(180deg)");
                    $(this.back).css("transform", "rotateY(0deg)");
                    // this.cardWrapElem.style.height = this.backHeight + 'px'
                    // console.log(this.backHeight + 'px')
                    this._is_front = false;
                } else {
                    console.error('Incorrect side')
                }

            }


            _showBackCorectItems() {
                // отобразить на тыльной стороне только элементы правильного ответа
                this.correctAnswerElems.forEach(elem => elem.style.display = 'inline-block')
                this.incorrectAnswerElems.forEach(elem => elem.style.display = 'none')
            }
            _showBackIncorrectItems(userWrongAnswerWord) {
                // отобразить на тыльной стороне только элементы НЕправильного ответа
                this.correctAnswerElems.forEach(elem => elem.style.display = 'none')
                this.incorrectAnswerElems.forEach(elem => elem.style.display = 'inline-block')

                this._drawUserWrondAnswer(userWrongAnswerWord)
            }
            _drawUserWrondAnswer(word) {
                // отобразить перевод слова выбраного пользователем (неправильный ответ)
                var text = `${word['translate']} - ${word['word']}`
                this.wrongAnswerBlock.innerText = text
            }

            drawCard(card) {
                // отрисовать карточку
                this._drawTargetWord(card.target)
                this._drawAnswerButtons(card.answersList)
                this._drawNumberInDict(card.target)
            }

            _drawTargetWord(word) {
                // отрисовать переводимое слово
                this.wordElem.innerText = word['word']
                var text = `${word['word']} - ${word['translate']}`
                this.wordTranslateElem.innerText = text
            }

            _drawAnswerButtons(answers) {
                // отрисовать кнопки с ответами перевода
                this.asnwerBlock.innerHTML = ''
                answers.forEach(word => {
                    this._drawAnswerBtn(word)
                })
            }
            _drawNumberInDict(target) {
                this.cardHeader.innerText = '#' + target['number_in_dict']
            }

            _drawAnswerBtn(word) {
                //  отрисовка кнопку с вариантами ответа перевода
                var btn = document.createElement('button')
                btn.innerText = word['translate']
                btn.classList.add('btn', 'btn-outline-primary', 'answer-option')
                btn.dataset.wordId = word['id']
                btn.setAttribute('type', 'bytton')
                this.asnwerBlock.appendChild(btn)

                btn.addEventListener('click', this._answerBtnClickEvent)
            }

            _answerBtnClickEvent(e) {
                // клик по кнопке с ответом перевода
                var btn = e.target
                var userWordId = btn.dataset.wordId
                cardTrainer.proccesUserAnswer(userWordId)
            }
        }



        class CardTrainer {
            constructor() {
                this.card = null
                this._init()
            }

            _init() {
                this.getCard(true)
            }


            getCard(draw) {
                // получить новую карточку с сервера
                cardsApi.loadCard().then(card => {
                    if (card != undefined) {
                        this.card = card
                        if (draw) {
                            this._drawCard()
                        }
                    }
                })
            }
            _drawCard() {
                // отрисовать данные карточки в хтмл карты
                cardView.drawCard(this.card)
            }


            proccesUserAnswer(wordId) {
                if (this.card.isAnwerCorrect(wordId)) {
                    console.info('Correct')
                    cardView._showBackCorectItems()
                } else {
                    console.warn('Incorrect answer')
                    var userWord = this.card.getWordById(wordId)
                    cardView._showBackIncorrectItems(userWord)
                }
                cardView.showBack()
                this.getCard()
            }

            nextCard() {
                // отобразить следующую карточку
                cardView.showNextCard(this.card)
            }
        }

        const cardsApi = new CardsApi()
        const cardView = new CardView()
        const cardTrainer = new CardTrainer()

    </script>
</body>

</html>